@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

nav a.active {
	background: linear-gradient(to right, #8b5cf6, #ec4899);
	color: white;
	border: 0;
}
